*, *::before, *::after {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(37, 37, 37);
}

.wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.myCanvas {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0%;
  z-index: 5;
}

.myImage {
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgb(0, 0, 0);
}